# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml

# Environments
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/

