# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml

# Environments
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/
.streamlit/
src/data/
src/metadata_app/data/
src/metadata_app/streamlit

# OS
Thumbs.db
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/

# App output
exports/
